.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the start of the flex container */
    justify-content: center; /* Center items vertically */
    text-align: left; /* Align text to the left */
    background-image: linear-gradient(to bottom, #5546ff, #f7931a); /* Gradient background */

	
	

    > div {
        display: flex;
        flex-direction: column;
        gap: var(--size-3x);
    }

    h4 {
        margin-bottom: 2rem;
        z-index: 3;
    }

    a {
        font-size: .875rem;
        font-weight: 800;
        color: var(--primary);
        margin-bottom: 2rem;

        &:hover {
            color: var(--primary-bright);
        }
    }

    p {
        font-size: 1rem;
    }
}

.socialList {
    display: flex;
    flex-direction: row;
    gap: 1rem; /* Adjust the spacing between icons */
    align-items: center; /* Align items vertically */
    justify-content: flex-end; /* Align social icons to the end of the container */

    i {
        font-size: 1.7rem; /* Adjust the font size as needed */
    }

    svg {
        height: 5rem;
    }
}

/* Styles for larger screens (e.g., desktop) */
@media (min-width: 768px) {
    .socialList {
        position: relative; /* Remove absolute positioning */
        justify-content: flex-end; /* Align social icons to the end of the container */
        align-items: center; /* Align social icons vertically */
        bottom: auto; /* Remove bottom position */
        right: auto; /* Remove right position */
    }
}

/* Additional styles for smaller screens */
@media (max-width: 768px) {
    .container {
        /* Adjust spacing between icons */
        .socialList i {
            margin-left: 1rem;
        }
    }
}
